<!--suppress ALL -->
<div class="container" id="aboutPage">

	<div class="credits">
		<ul>
			<li>Mobile app by</li>
			<li><a href="http://www.twitter.com/thisisudo"><i class="fa fa-twitter"></i> Nkwocha Udo</a></li>
			<li><a href="http://www.twitter.com/arnoldpray"><i class="fa fa-twitter"></i> Arnold Emuze</a></li>
		</ul>

		<ul>
			<li>Built with</li>
			<li>HTML5</li>
			<li>CSS3</li>
			<li><a href="http://www.famo.us">Famo.us</a></li>
			<li><a href="https://angularjs.org">Angular JS</a></li>
		</ul>
	</div>

</div>