<!--suppress ALL -->
<div class="container" id="selectPage">



    <div class="perCircle animated bounceInDown">
        <a class="chooseCircle rotatingShadow" ui-sref="presAspirants">Presidential</a>
    </div>

    <div class="perCircle animated bounceInUp">
        <a class="chooseCircle rotatingShadow" ui-sref="states">Gubernatorial</a>
    </div>


<!--    <circle-widget text="Presidential"/>-->

<!--    <circle-widget text='Gubernatorial' ui-sref='guberAspirants'></circle-widget>-->

</div>