<!--suppress ALL -->
<div class="container" id="startPage">
    <div class="top">
        <h2>Welcome, Fellow Nigerian</h2>
        <P>Do you know the various candidates for the upcoming 2015 general elections ? <br>
           if your answer is No, then you are the reason why this website was developed.</P>
    </div>
    <div class="bottom">
        <a ng-click="start()" class="btn btn-green" >Okay, show me</a>
    </div>
</div>

        <style type="text/css">
            header{
                display: none;
            }

            body{
                background-color: #ffffff !important;
            }
        </style>
